@import "./globals.css";
.calc-btn {
  color: var(--text); 
  font-size: 1.2rem;
  margin: 4px;
  padding: 10px;
  transition: all 0.2s ease;
  border: none;
  outline: 0;
  height: 60px;
  background-color: var(--accent); 
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
  z-index: 77;
} 
.calc-btn.equal {
  background: var(--accent);
  color: black;
}
.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
.panel input[type="button"]:hover{
  background-color: rgb(125, 15, 228);
}
.calc-btn:last-child {
  grid-column: span 2;
}