@import "./globals.css";
.display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 20px 0;
}
.display input {
  text-align: right;
  flex: 1;
  font-size: 60px;
  padding: 5px 10px; 
  background-color: rgb(53, 53, 53);
  width: 60px;
  color: var(--text);
}